*{
    margin:0px;
    padding:0px;
    font-family:"Lato",sans-serif;
    box-sizing: border-box;
}
#navbar{
    background-color:black;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:15px;
    width:100%;
    position:fixed;
  
}
#menu{
    text-align:right;
    display:inline-block;
}
#name{
    font-size:17px;
    display:inline-block;
}
.nav{
    margin-right:20px;
    text-decoration:none;
    color:white;
    font-size:14px;
}
/*Body*/
body{
    background-color:#1e6c94;
    color:white;
    
}
 #aboutbg{ height:340px;
    width:100%; 
    text-align:center;
    background-image:url("aboutmebg.jpg");
    background-size: cover; }
#certificates{
   padding-top:140px;
    font-size:90px;
    font-style:italic;
}
#headings{
    padding:20px;
text-align:center;
margin:20px;
}
a{
    color:white;
}
#paragraphs{
    text-align:center;
}
#container1{
    margin-top:100px;
    display:flex;
    text-align:center;
    justify-content:space-around;
}
#container2{
    margin-top:100px;
    display:flex;
    text-align:center;
    justify-content:space-around;
}
footer{
    background-color:#3d3d3d;
    color:white;
    text-align:center;
    padding:20px;
    margin-right:20px;
    font-style:italic;
    font-size:15px;
    width:100%;
}