*{
    margin:0px;
    padding:0px;
    font-family:"Lato",sans-serif;
    box-sizing: border-box;
}
#navbar{
    background-color:black;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:15px;
    width:100%;
    position:fixed;
  
}
#menu{
    text-align:right;
    display:inline-block;
}
#name{
    font-size:17px;
    display:inline-block;
}
.nav{
    margin-right:20px;
    text-decoration:none;
    color:white;
    font-size:14px;
}
/*Home Section*/
body{
    background-color:#1e6c94;
}
#bg{width:100%;
    height:530px;
    opacity:1;
}
#div1{
    color:white;
    padding-left:100px;
    font-size:30px;
    padding-top:30px;

}
#h1{
    font-size:40px;
}
#p1{
    font-size:24px;
}

#p2{
    font-size:18px;
}
#Buttons{
    text-align:center;
    padding:10px;
}
#NUL{
    text-decoration:none;
    color:white;
}
#b1{
    background-color:white;
    color:#1e6c94;
    border:2px solid white;
    padding:10px;
    font-size:16px;
    width:700px;
    height: 46px;
    border-radius:5px;
    cursor:pointer;
}
#div2{
    display:grid;
    grid-template-columns :1fr 1fr 1fr;
    gap:10px;
    color:white;
    justify-content:space-around;
    text-align:center;
    text-decoration:none;
    padding:20px;
}

footer{
    background-color:#3d3d3d;
    color:white;
    text-align:center;
    padding:20px;
    margin-right:20px;
    font-style:italic;
    font-size:15px;
    width:100%;
}